<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="myprofile-wrapper">
    <div class="row">
      <div class="col-md">
          <%= user.name %>
      </div>
    </div>
  </div>
  
<%- include('../includes/end.ejs') %>