
</body>
<script>
      $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true,
                
            });
        });
</script>
</html>