<nav>
  <a href="/transports">Превози</a>
  <a href="/create-transport">Додај Превоз</a>
  <% if (!isLoggedIn) { %>
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <% } else  { %>
    <form action="/logout" method="POST">
      <button type="submit" >Logout</button>
    </form>
  <% } %>
</nav>